body {
    background-color: black;
    font-family: Roboto, sans-serif;
}

#navContainer {
    background-color: black;
}

#navActive a.nav-link {
    color: #488cf3;
}

#rNavbar .nav-link {
    color: rgb(59, 86, 134);
}

.headerBanner {
    color: navy;
}

.carousel-caption {
    background-color: rgba(0, 0, 65, 0.50);
    color: rgb(124, 195, 253);
}

footer h5 {
    color: cornflowerblue;   
}

.siteFooter {
    background-color: black;
}

html,body {
    height: 100%;
}
    
.wrapper {
    height: 100%;
}
    
.fixed {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%; 
    width: 100%;  
}

.scroll {
    background-color: rgb(59, 86, 134);
    padding: 10px 70px;
    color: #000000;
}

.scroll h1 {
    text-align: center;
    font-family: 'Girassol', cursive;
}

.appetizer {
    background-image: url("../img/menu_appetizer.jpg");
    height: 400px;
}
    
.mains {
    background-image: url("../img/menu_mains.jpg");
    height: 400px;
}
    
.pizza {
    background-image: url("../img/menu_pizza.jpg");
    height: 400px;
}

.dessert {
    background-image: url("../img/menu_dessert.jpg");
    height: 400px;
}